
@{
    ViewBag.Title = "AboutEdi";
}

<section id="page-title">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- .title -->
                <div class="title pull-left">
                    <h1>About EDI</h1>
                </div> <!-- /.title -->
                <!-- .page-breadcumb -->
                <div class="page-breadcumb pull-right">
                    <i class="fa fa-home"></i> <a href="/">Home</a> <i class="fa fa-angle-right"></i> <span>About EDI</span>
                </div> <!-- /.page-breadcumb -->
            </div>
        </div>
    </div>
</section> <!-- /#page-title -->
<!-- #our-mission -->
<section id="our-mission">
    <div class="container">
        <div class="entry-main" style="height: auto !important;">


            <div class="entry-content" style="height: auto !important;">

                <p>There are several <strong>EDI training</strong> centres in Nigeria Where you can get good entrepreneurial skills and information on how to process CBN AGSMEIS loan. </p>



                <p>The CBN plans to complement to its microfinance policy and also to ensure the sustained supply of skilled entrepreneurs in Nigeria led makes them support this centres. </p>



                <p>The EDI centers are also mediums through which business owners can submit application for loans to CBN for their business purposes.</p>



                <p>These Entrepreneurship Development Centre [EDC] are in each of the six geo-political zones in Nigeria.</p>



                <p>Through the CBN, EDI in Nigeria provides physical structures, training materials, equipment, human resources and other facilities that would assure internationally competitive, effective and sustainable services capable of meeting the needs of MSMEs in the country.</p>



                <h2><span class="ez-toc-section" id="What_is_EDI"></span>What is EDI?<span class="ez-toc-section-end"></span></h2><div id="ez-toc-container" class="ez-toc-v2_0_17 counter-hierarchy counter-decimal ez-toc-grey">
                    <div class="ez-toc-title-container">
                        <p class="ez-toc-title">Table of Contents</p>
                        <span class="ez-toc-title-toggle"><a class="ez-toc-pull-right ez-toc-btn ez-toc-btn-xs ez-toc-btn-default ez-toc-toggle" style="display: inline;"><i class="ez-toc-glyphicon ez-toc-icon-toggle"></i></a></span>
                    </div>
                    <nav><ul class="ez-toc-list ez-toc-list-level-1"><li class="ez-toc-page-1 ez-toc-heading-level-2"><a class="ez-toc-link ez-toc-heading-1" href="#What_is_EDI" title="What is EDI?">What is EDI?</a><ul class="ez-toc-list-level-3"><li class="ez-toc-heading-level-3"><a class="ez-toc-link ez-toc-heading-2" href="#Objectives_of_CBN_EDI_training_centres" title="Objectives of CBN EDI training centres">Objectives of CBN EDI training centres</a></li><li class="ez-toc-page-1 ez-toc-heading-level-3"><a class="ez-toc-link ez-toc-heading-3" href="#The_Importance_of_EDI_Training" title="The Importance of EDI Training">The Importance of EDI Training</a></li><li class="ez-toc-page-1 ez-toc-heading-level-3"><a class="ez-toc-link ez-toc-heading-4" href="#What_Are_the_Eligibility_Criteria" title="What Are the Eligibility Criteria?">What Are the Eligibility Criteria?</a></li><li class="ez-toc-page-1 ez-toc-heading-level-3"><a class="ez-toc-link ez-toc-heading-5" href="#CBN_EDIs_Documentation_Requirements_for_AGSMEIS_Loan" title="CBN EDIs Documentation Requirements for AGSMEIS Loan">CBN EDIs Documentation Requirements for AGSMEIS Loan</a></li><li class="ez-toc-page-1 ez-toc-heading-level-3"><a class="ez-toc-link ez-toc-heading-6" href="#What_Is_the_Application_Process" title="What Is the Application Process">What Is the Application Process</a></li></ul></li><li class="ez-toc-page-1 ez-toc-heading-level-2"><a class="ez-toc-link ez-toc-heading-7" href="#List_of_CBN_EDI_Training_Centres_in_Nigeria" title="List of CBN EDI Training Centres in Nigeria">List of CBN EDI Training Centres in Nigeria</a></li><li class="ez-toc-page-1 ez-toc-heading-level-2"><a class="ez-toc-link ez-toc-heading-8" href="#Conclution" title="Conclution">Conclution</a></li></ul></nav>
                </div>




                <p>The CBN EDC (Entrepreneurial Development Centres) in&nbsp;<strong>Nigeria</strong>&nbsp;are built to provide, training materials, equipment, human resources and other facilities that would assure internationally competitive, effective and sustainable services capable of meeting the needs of MSMEs in the country</p>



                <h3><span class="ez-toc-section" id="Objectives_of_CBN_EDI_training_centres"></span>Objectives of CBN EDI training centres<span class="ez-toc-section-end"></span></h3>



                <ul><li>To develop entrepreneurship spirit amongst Nigerians and provide insight into the tools,<br>techniques and framework for managing all functional areas of business enterprise, including<br>production, marketing, personnel and finance.</li><li>To develop skills for aspiring entrepreneurs to successfully start, expand, diversify and<br>manage business enterprises as well as link them with financial institutions for start up capital,<br>especially the microfinance banks.</li><li>To generate employment opportunities for Nigerians in pursuance of the provisions of the<br>National Economic Empowerment and Development Strategy [NEEDS] and recently vision<br>2020.</li><li>To raise a new class of entrepreneurs/owners, who can compete globally and succeed in<br>managing MSMEs and provide the bridge for future industrialization of the country.</li></ul>



                <h3><span class="ez-toc-section" id="The_Importance_of_EDI_Training"></span>The Importance of EDI Training<span class="ez-toc-section-end"></span></h3>



                <p>Applicants of CBN <strong>AGSMEIS LOAN</strong> scheme are expected to submit certificate of EDI training before they can access this loan.</p>



                <p>These EDI centres in Nigeria also guides applicants in getting all necessary documents required to secure CBN AGSMEIS loan through.</p>



                <h3><span class="ez-toc-section" id="What_Are_the_Eligibility_Criteria"></span><strong>What Are the Eligibility Criteria?</strong><span class="ez-toc-section-end"></span></h3>



                <ul><li>All interested applicant must have been trained by an Entrepreneur Development Institute (EDI)</li><li>All interested applicant will apply for loan via an EDI</li><li>The applications will then be sent to CBN for processing</li><li>All applicants will be called for an interview regarding his/her business.</li><li>Applicants who’ve qualified will be contacted and given the loan.</li><li>Fill clearly the new form with all the details required, sign and get them authenticated by EDC.</li></ul>



                <h3><span class="ez-toc-section" id="CBN_EDIs_Documentation_Requirements_for_AGSMEIS_Loan"></span><strong>CBN EDIs Documentation Requirements</strong> for <strong>AGSMEIS Loan</strong><span class="ez-toc-section-end"></span></h3>



                <p>For Micro, Small and Medium Enterprises operating in Nigeria:</p>



                <ul><li>Your duly completed application form</li><li>Bank Verification Number (BVN)</li><li>Your certificate of Training from recognized Entrepreneurship Development Institution (EDI) or evidence of membership of organized private sector association. Such as, Lagos Business School, House of Tara, Fate Foundation, Thrive Agric, etc. to access the loan.</li><li>A Letter of Introduction from any of the following: Clergy, Village Head, District Head, Traditional Ruler, senior civil servant, etc. (for individuals/micro enterprises only).</li><li>An evidence of registration of business name or certificate of incorporation and filing of annual returns (where applicable) in compliance with the provisions of the Companies and Allied Matters Act (1990).</li><li>Your tax Identification Number (TIN) and current Tax Clearance Certificate (TCC) Where applicable</li></ul>



                <p>Related: <a href="http://infotips.com.ng/cbn-agsmeis-loan-application/3283/" target="_blank" rel="noreferrer noopener">CBN AGSMEIS Loan Application: How To Enrol 2021</a></p>



                <h3><span class="ez-toc-section" id="What_Is_the_Application_Process"></span><strong>What Is the Application Process</strong><span class="ez-toc-section-end"></span></h3>



                <p>For Micro, Small and Medium Enterprises:</p>



                <ul><li>Enrol with a CBN certified EDI for a one-week training</li><li>Eligible applicants shall pick-up and submit a completed application form to the EDIs</li><li>The EDI shall collate, appraise and submit applications to CBN.</li><li>CBN shall consider the application and invite applicants for interviews</li><li>Upon approval, CBN shall approve the loan and disburse to necessary vendors as applicable</li></ul>




            </div><!-- .entry-content -->

            

        </div>
    </div>
</section>