@{
    ViewBag.Title = "Contact";
}
<section id="page-title">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- .title -->
                <div class="title pull-left">
                    <h1>Contact Us</h1>
                </div> <!-- /.title -->
                <!-- .page-breadcumb -->
                <div class="page-breadcumb pull-right">
                    <i class="fa fa-home"></i> <a href="/">Home</a> <i class="fa fa-angle-right"></i> <span>Contact Us</span>
                </div> <!-- /.page-breadcumb -->
            </div>
        </div>
    </div>
</section> <!-- /#page-title -->
<!-- #our-mission -->
<section id="our-mission">
    <div class="container">
        <div class="section-title">
            <address>
                44 Azikiwe Road<br />
                Umuahia<br />
                <abbr title="Phone">P:</abbr>
                08063812435 or 07065343040
            </address>

            <address>
                <strong>Support:</strong>   <a href="mailto:Support@edi.exwhyzee.ng">Support@edi.exwhyzee.ng</a><br />
                <strong>Marketing:</strong> <a href="mailto:ediexwhyzee@gmail.com">ediexwhyzee@gmail.com</a>
            </address>
        </div>            </div></section>