
@{
    ViewBag.Title = "JDPC";
}


<section id="page-title">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- .title -->
                <div class="title pull-left">
                    <h1>About JDPC</h1>
                </div> <!-- /.title -->
                <!-- .page-breadcumb -->
                <div class="page-breadcumb pull-right">
                    <i class="fa fa-home"></i> <a href="/">Home</a> <i class="fa fa-angle-right"></i> <span>About JDPC</span>
                </div> <!-- /.page-breadcumb -->
            </div>
        </div>
    </div>
</section> <!-- /#page-title -->
<!-- #our-mission -->
<section id="our-mission">
    <div class="container">
        <div class="section-title">
            <h1 class="text-uppercase">ABOUT Justice, Development, Peace and Caritas Commission</h1>
        </div>
        <h6> WHO WE ARE</h6>
        <p>

            Justice, Development, Peace and Caritas Commission (JDPC) Owerri is a commission of the Catholic Archdiocese of Owerri, Nigeria. It is an operating arm of the Church in Owerri, Nigeria inaugurated in January, 1970 by Pope Paul the VI as the pontifical council for justice and peace (justitia et pax).
            <br />
            We empower organizations in civil society for people’s participation in governance and upholding their fundamental human rights.
            <br />
            The commission which evolved from the social development department of the Church gained prominence in the Catholic Archdiocese of Owerri in the early 90’s after the 2nd National Eucharistic Congress held in Owerri, with renewed emphasis in the social ministry of the Church.
        </p>
        <div>
            We empower firms in civil society for peoples’ active role in governance. We upholding their fundamental human rights.
            The vision of Owerri Archdiocesan JDPC is to create a serene society that accommodates the diversity of humanity through developmental projects, justice and peace.
            <br />
            Its mission is to advance the well-being of human development through empowerment, research, training, entrepreneurship, advocacy and community mobilization without any form of discrimination through a judicious use of available resources of human development.
            <br />
            Our core value remains, to uphold the sanctity of life, advocate that the right of life of every human being is inalienable and must be cherished from conception to death. Our interest is predominantly seeing the person of Christ and his image in the poor and marginalised persons.
        </div>
        <div>
            <h4> 01. — Our Mission</h4>
            <p>

                Our interest is predominantly seeing the person of Christ and his image in the poor and marginalized persons.
            </p>
            <h4> 02. — Our Vision</h4>
            <p>

                The vision of Owerri Archdiocesan JDPC is to create a serene society that accommodates the diversity of humanity through developmental projects, justice and peace. Its mission is to advance the well-being of human development through empowerment, research, training, entrepreneurship, advocacy and community mobilization without any form of discrimination through a judicious use of available resources of human development.
            </p>
            <h4> 03. — Our Core Values</h4>
            <p>

                Our core value remains, to uphold the sanctity of life, advocate that the right of life of every human being is inalienable and must be cherished from conception to death. Our interest is predominantly seeing the person of Christ and his image in the poor and marginalized persons.
            </p>
        </div>
    </div>
</section>