
@{
    ViewBag.Title = "Programone";
}

<h2>Programone</h2>

Agri-Business Small and Medium Enterprises Investment Scheme (AGSMEIS) is an initiative of the Bankers’ Committee in a bid to support and complement the Federal Governments’ efforts at promoting Agri-businesses/Small and Medium Enterprises as a vehicle for sustainable economic development and employment generation. This initiative requires all Deposit Money Banks (DMBs) to set aside 5% of their annual profit after tax (PAT).
This scheme aims at giving loans  that would run for a tenure of seven years with two years morotorium for agri-business start ups.
AGSMEIS is sector agnostic and the fund can be accessed for start-up businesses, business expansion or revival of ailing companies in sectors such as;
•	Agricultural Sector; covering agricultural value chain activities such as production, inputs supply, storage, processing, logistics and marketing.
•	Real Sector; including manufacturing, mining and petrochemicals.
•	Service Sector; including Information and Communication Technology (ICT), beauty and the creative industry.
•	Other activities as the Central Bank of Nigeria (CBN) may determine from time to time.


Agri-Business Small and Medium Enterprises Investment Scheme (AGSMEIS) is an initiative of the Bankers’ Committee in a bid to support and complement the Federal Governments’ efforts at promoting Agri-businesses/Small and Medium Enterprises as a vehicle for sustainable economic development and employment generation. This initiative requires all Deposit Money Banks (DMBs) to set aside 5% of their annual profit after tax (PAT).
This scheme aims at giving loans  that would run for a tenure of seven years with two years morotorium for agri-business start ups.
AGSMEIS is sector agnostic and the fund can be accessed for start-up businesses, business expansion or revival of ailing companies in sectors such as;
•	Agricultural Sector
•	Real Sector
•	Service Sector
•	Other activities as the Central Bank of Nigeria (CBN) may determine from time to time.
