
@{
    ViewBag.Title = "Success";
}

@{
    ViewBag.Title = "JDPC";
}

@{
    ViewBag.Title = "FillForm";

    Layout = "~/Views/Shared/_Viewlay.cshtml";

}
<style>
    label {
        margin-bottom: 0px !important;
        margin-top: 19px !important;
    }

    h6 {
        color: #c36552;
        font-weight: 900;
        margin: 50px 0 0 0 !important;
    }
</style>

<h1>Dashboard Loading...</h1>